<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.github.io/mzattera/v4j/cmc/count/CmcCounter"
			class = "io.github.mzattera.v4j.cmc.count.cmcCounter.CmcCounterPackage"
			genModel = "model/generated/CmcCounter.genmodel" />
	</extension>
</plugin>
